h3.text-center Examples &amp; Services
//- .btn-group-wrap
//-   .btn-group.button-group.filter-button-group(class='style=')
//-     button.btn.btn-info(data-filter='*') Show all
//-     button.btn.btn-info(data-filter='.staticmap') Map
//-     button.btn.btn-info.active(data-filter='.featured') Featured
.row
  .col-sm-4.col-sm-offset-4.col-lg-2.col-lg-offset-5
    .form-group
      input(type='text',class='form-control quicksearch',placeholder='Search')
//- spinner
.spinner
  .rect1
  .rect2
  .rect3
  .rect4
  .rect5



//- rotating cards: 
//- .hidden-xs.clearfix
//- #examples-grid
//-   .grid-sizer.col-xs-12.col-sm-6.col-md-4.col-lg-3
//-   each eg in examples
//-     .element-item.col-xs-12.col-sm-6.col-md-4.col-lg-3
//-       a(href= servAddr+'/?action=example&ProjectName='+eg.projectName, target='_blank')
//-         .card-container
//-           .card
//-             .front(style=`background-image: url(${servAddr}/api/examples/${eg.projectName}/thumbnail);`)
//-               .content
//-                 .main
//-                   //- h3.name= eg.projectName
//-                   //- p.profession= eg.services.join(', ')
//-             .back
//-               .content
//-                 .main
//-                   h3.name= eg.projectName
//-                   h4.text-center= eg.primaryRoleName
//-                   p.profession= eg.services.join(', ')
//-                   p.text-center= eg.notes
//-                   .stats-container
//-                     .stats
//-                       h4 235
//-                       p Views
//-                     .stats
//-                       h4 114
//-                       p Likes
//-                     .stats
//-                       h4= eg.roleNames.length
//-                       p Roles

#examples-grid-m.clearfix.hidden
  .grid-sizer.col-xs-12.col-sm-4.col-md-3.col-lg-2
  each eg in examples
    a(class="wrapper-link",href= env.EDITOR_ADDRESS+'/?action=example&ProjectName='+eg.projectName + (eg.roleNames.length > 1 ? '&editMode=true' : ''), target='_blank') 
      .element-item.col-xs-12.col-sm-4.col-md-3.col-lg-2
        .h-thumbnail
          .img-container
            img.img-responsive.center-block.img-thumbnail(src= `${env.EDITOR_ADDRESS}/api/examples/${eg.projectName}/thumbnail?aspectRatio=1.33333`, style='width: 100%;')
            .overlay
              .caption.text-center= eg.notes || 'No description provided.'
          ul.list-group
            span.label.label-success= eg.services[0]
            li.list-group-item.title
              b= eg.projectName
              span.pull-right= ' Roles: '+ eg.roleNames.length
